body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    width: auto;
    height: 150px;
    max-width: 1200px;
    margin: 0 auto;
}

.image {
    position: relative;
    overflow: hidden;
    flex: 1 1 auto; /* 讓圖片保持原始大小 */
    max-width: 400px; /* 最大寬度為 400px */
    height: 150px; /* 設定高度為 150px */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持圖片原始長寬比並填滿容器 */
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/*!* 當游標移動至圖片上時背景放大 *!*/
/*.image:hover {*/
/*    transform: scale(1.1);*/
/*}*/

/*!* 當游標移動至圖片上時圖片放大 *!*/
/*.image:hover img {*/
/*    transform: scale(1.1);*/
/*}*/

/* 將圖片放大至最上層並與網頁相同 */
.image:hover::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(57, 57, 57, 0.5);
    z-index: 1;
}

/*!* 響應式調整 *!*/
/*@media (max-width: 768px) {*/
/*    .image {*/
/*        flex: 1 1 100%;*/
/*    }*/
/*}*/

/*!* 響應式調整 *!*/
/*@media (max-width: 480px) {*/
/*    .image {*/
/*        flex: 1 1 100%;*/
/*    }*/
/*}*/
